@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <form action="/payment" method="POST">
      <input type="text" name="PhoneNumber" />
      <input type="submit" value="Pay" />
    </form>
    </div>
</body>
</html>
